@charset "utf-8";

// Set your brand colors

$primary-color: #3B3355;
$primary-color-light: #b1acb8;
$primary-color-dark: 	#231f33;
$beige-lighter: #EFF0EB;

// @import "node_modules/bulma/sass/utilities/derived-variables";

// $addColors: (
//   "primary-color": $primary-color,
//   "primary-color-light": $primary-color-light,
// );
// $colors: map-merge($colors, $addColors);

$custom-colors: (
  "primary-color": $primary-color,
  "primary-color-light": $primary-color-light,
  "primary-color-dark": $primary-color-dark,
);

.navbar {
  background-color: $primary-color-light;
}

$body-background-color: $beige-lighter;

// .field.has-addons {
//   background-color: aqua
// }

.navbar-center {
  display:flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: row;
}

@import "node_modules/bulma/bulma";