@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors

$primary-color: #3b3355;
$primary-color-light: #b1acb8;
$primary-color-dark: #231f33;
$beige-lighter: #eff0eb;
$link: #3b3355;
$flame-red: #e4572e;
$selective-yellow: #fcba04;

// @import "node_modules/bulma/sass/utilities/derived-variables";

// $addColors: (
//   "primary-color": $primary-color,
//   "primary-color-light": $primary-color-light,
// );
// $colors: map-merge($colors, $addColors);

$family-sans-serif: "Nunito", sans-serif;

$spacing-values: (
  "0": 0rem,
  "1": 0.5rem,
  "2": 1rem,
  "3": 1.5rem,
  "4": 2rem,
  "5": 2.5rem,
  "6": 3rem,
  "7": 3.5rem,
  "8": 4rem,
);

.logo-preview {
  margin: auto;
  width: 50%;
  padding: 10px;
}

$custom-colors: (
  "primary-color": $primary-color,
  "primary-color-light": $primary-color-light,
  "primary-color-dark": $primary-color-dark,
  "link": $link,
  "button-alt-1": $selective-yellow,
);

.navbar {
  background-color: $primary-color-light;
}

$body-background-color: $beige-lighter;

// $pagination-color: $primary-color;

// .field.has-addons {
//   background-color: aqua
// }

.signup-page {
  max-width: 600px !important;
}

.navbar-center {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: row;
}

.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
}
.scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.sized-down-page {
  max-width: 800px;
}

@import "node_modules/bulma/bulma";

@import "node_modules/bulma-floating-button/dist/css/bulma-floating-button.sass";
