.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  /* background-color: #3B3355; */
  background-color: var(--primary-color);
  color: var(--primary-color-light);
  top: 0;
  z-index: 100;
  
  /* border-bottom: 1px solid ; */
}

/* .header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
} */

.header__logo {
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  /* border-radius: 0.3rem; */
  
}

.header__searchInputDevice {
  height: 34px;
  padding: 11px;
  border: none;
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-right: 1px solid var(--primary-color);
}

.header__searchInputIssue {
  height: 34px;
  padding: 11px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 34px !important;
  width: 40px !important;
  margin-right: 10px;
  background-color: #231F33;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center !important;
  min-width: 40px;
  /* position: relative; */
}

.header__optionText {
  font-size : 12px;
}

/* .header__accountOption {
  border-left: 1px solid #5c6f7c;
} */