<!DOCTYPE html> 
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<html>
    <head>
        <meta charset="utf-8">
        <meta name ='viewport' content='width=device-width, initial-scale=1'>

        <title>{% block title %}Welcome | {% endblock %}</title>
        
        <script src="{% static 'scripts/main.js' %}"></script>
    </head>

    <body>
        {% include 'core/navbar.html' %}
        
        <section class="section">
                {% block content %}
                {% endblock %}
        </section>
        
        <footer class="footer">
            <h3 class="is-size-4 mb-4">Ceberus</h3>

            {% if request.user.is_authenticated %} <!--if the user is already signed up as a vendor, link to the vender dashboard-->       
                <a href="{% url 'vendor_admin' %}">Vendor admin</a>
            {% else %} <!--otherwise link to becoming a vendor-->
                <a href="{% url 'become_vendor' %}">Become vendor</a>
            {% endif %}
    </body>
</html>

