{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}

<div class="field has-addons">
    <p class="control is-expanded">
        <input class="input" type="text" placeholder="Address">
    </p>
    <p class="control">
        <button class="button is-primary-color-dark">
            <span class="material-icons">search</span>
        </button>
    </p>

    </div>
        {% for product in newest_products %}
            {% include 'product/parts/list_item.html' %}
        {% endfor %}
    </div>
{% endblock %}